html {
    scroll-behavior: smooth;
    background-color: #abedb7;
    color: grey;
}

body {
    max-width: 65%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
